*{
  margin:0;
  padding :0;
}





body{
  background-color:#D9FFFD;
}
.contentContainer{
 display: grid;
 grid-template-columns:auto;
 margin:auto;
 margin-top:-15vw;
 animation-name: spainish;
 animation-duration: 5s;
}
@keyframes spainish{
  10%{
    opacity:0.3;
  }
  20%{
    
    opacity:0.6;
  }
  50%{
    
    opacity:0.8;
  }
  
  100%{
    
    opacity:1.0;
  }

}

img{
  height:120px;
  width:120px;
  border-radius:890px;
  margin:auto;
  object-fit:cover;
  border:5px solid #90EEE8;
  box-shadow:0px 0px 5px #00B3A8;
  border-right:none;
 margin-top:17vw;
}

h3{
  text-align: center;
  text-transform: capitalize;
  color:#FF862C;
  margin-top:5vw;
  font-size:20px;
}

strong{
  color:#0054FF;
  text-align: center;
  margin-top:5px;
  text-transform:capitalize;
  font-weight:390;
  
}

p{
  margin-top:5vh;
  text-align: center;
  line-height:1.2;
  color:#00CAFF;
  padding-left:5vw;
  padding-right:5vw;
}

h1{
  color:#055B72;
  text-align: center;
  margin-top:5vw;
}

.buttonCont{
  display:grid;
  grid-template-columns: auto auto auto ;
}
button{
  border:none;
  background: transparent;
}
svg{
  border:5px solid #002E3A;
  border-radius: 5px;
  background-color:#386875;
}

